<div class="auth-page-wrapper pt-5">
  <div class="image position">
    <div class="bg-image"></div>
    <div class="shape">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        version="1.1"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1440 120"
      >
        <path
          d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"
        ></path>
      </svg>
    </div>
  </div>
  <div class="auth-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mt-sm-5 mb-4 text-white-50">
            <div class="logo">
              <a class="d-inline-block auth-logo" href="/">
                <img src="../../assets/morden-logo.png" alt="" height="20" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-12 text-center">
          <div class="login-card">
            <h4>{{ welcomeBack }}</h4>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="email">{{ email }}</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Enter email"
                  formControlName="email"
                />
                <div
                  *ngIf="
                    loginForm.get('email')?.invalid &&
                    (loginForm.get('email')?.touched || submitted)
                  "
                >
                  <small
                    *ngIf="loginForm.get('email')?.errors?.['required']"
                    class="text-danger"
                    >*{{ emailRequired }}</small
                  >
                  <small
                    *ngIf="loginForm.get('email')?.errors?.['email']"
                    class="text-danger"
                    >* {{ emailValidation }}</small
                  >
                </div>
              </div>
              <div class="form-group">
                <div class="float-end">
                  <a class="text-muted" href="#">{{ forgotPassword }}?</a>
                </div>
                <label for="password">{{ password }}</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter password"
                  formControlName="password"
                />
                <div
                  *ngIf="
                    loginForm.get('password')?.invalid &&
                    (loginForm.get('password')?.touched || submitted)
                  "
                >
                  <small
                    *ngIf="loginForm.get('password')?.errors?.['required']"
                    class="text-danger"
                    >* {{ passwordRequired }}</small
                  >
                  <small
                    *ngIf="loginForm.get('password')?.errors?.['minlength']"
                    class="text-danger"
                    >* {{ passwordMinLength }}</small
                  >
                </div>
              </div>
              <app-base-component-button
              [label]="signIn"
              [loading]="loading"
              [disabled]="loading"
              (click)="onSubmit()"
              [cssClass]="'btn btn-primary'"
              type="submit"
            ></app-base-component-button>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <p class="mb-0 text-muted">
              ©
              {{ year }}
              Shiv Infotech
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
