<div class="category-card">
  <h3>Category</h3>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="form-field">
        <label for="category-name">Category Name</label>
        <input
          type="text"
          id="category-name"
          placeholder="Enter Category Name"
          class="form-control"
          formControlName="category_name"
        />
        <div
          *ngIf="
            categoryForm.get('category_name')?.invalid &&
            (categoryForm.get('category-name')?.touched || submitted)
          "
        >
          <small
            *ngIf="categoryForm.get('category_name')?.errors?.['required']"
            class="text-danger"
            >* Category is required</small
          >
        </div>
      </div>
      <div class="form-field">
        <label for="category-description">Category Description</label>
        <input
          type="text"
          id="category-description"
          placeholder="Enter Category Description"
          class="form-control"
          formControlName="category_description"
        />
      </div>
    </div>
    <div class="button-container">
      <button type="submit">
        {{ isEditMode ? 'Update' : '+Add' }}
      </button>
    </div>
  </form>
  <table mat-table [dataSource]="dataSource" class="custom-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let category"> {{ category.id }} </td>
    </ng-container>

    <ng-container matColumnDef="category_name">
      <th mat-header-cell *matHeaderCellDef> Category Name </th>
      <td mat-cell *matCellDef="let category"> {{ category.category_name }} </td>
    </ng-container>

    <ng-container matColumnDef="category_description">
      <th mat-header-cell *matHeaderCellDef> Category Description </th>
      <td mat-cell *matCellDef="let category"> {{ category.category_description || '-' }} </td>
    </ng-container>

    <ng-container matColumnDef="user_name">
      <th mat-header-cell *matHeaderCellDef> User Name </th>
      <td mat-cell *matCellDef="let category"> {{ category.user?.name || '-' }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let category">
        <mat-icon
          style="color: green; cursor: pointer;"
          (click)="editCategory(category)"
          aria-label="Edit"
        >
          edit
        </mat-icon>
        <mat-icon
          style="color: red; cursor: pointer;"
          (click)="deleteCategory(category.id)"
          aria-label="Delete"
        >
          delete
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
