<div class="sidebar">
  <h2>E-commerce</h2>

  <ul>
    <li>
      <a routerLink="/dashboard/home" class="muted">
        <i class="fa-solid fa-grip"></i>&nbsp;&nbsp;&nbsp;Home</a
      >
    </li>
    <li>
      <a routerLink="/dashboard/category" class="muted">
        <i class="fa-solid fa-list"></i>&nbsp;&nbsp;&nbsp;Category</a
      >
    </li>
    <li>
      <a routerLink="/dashboard/product" class="muted">
        <i class="fa-solid fa-shirt"></i>&nbsp;&nbsp;&nbsp;Product</a
      >
    </li>
  </ul>
</div>

<div class="main-text">
  <router-outlet></router-outlet>
</div>
